.slogan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1200px;
  margin: 0 auto;
  margin-top: 91px;
}
.slogan__big-tittle {
    // display: inline-block;
    font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
  /* or 124% */


  color: #533738;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 534px;
}
.slogan__small-tittle {
  width: 494px;
  margin-top: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.slogan__button {
  margin-top: 21px;
}
